<div class="middle-block" style="width:80%"><%= content_tag :p, notice, class: 'notifier' %></div>
<section class="staffData">
	<div class="topbar">
		Edit Staff
	</div>
	<div class="entry">
		<%= form_for @staff do |f| %>
			<p class="formline">
				<%= f.label :avatar, 'Upload image' %>
				<%= f.file_field :avatar, accept: 'image/png,image/jpeg' %>
			</p>
			<p class="formline">
				<%= f.label :title %>
				<%= f.select :title, options_for_select(@titles, @staff.title) %>
			</p>
			<p class="formline"><%= f.label :surname %><%= f.text_field :surname %></p>
			<p class="formline"><%= f.label :othernames, 'Other Names' %><%= f.text_field :othernames %></p>
			<p class="formline"><%= f.label :maiden_name, 'Maiden Name' %><%= f.text_field :maiden_name %></p>
			<p class="formline">
				<%= f.label :gender %>
				<%= f.select :gender, options_for_select(@genders, @staff.gender) %>
			</p>
			<p class="formline"><%= f.label :date_of_birth, 'Date of Birth' %><%= f.date_field :date_of_birth, value: @staff.date_of_birth %></p>
			<p class="formline">
				<%= f.label :marital_status, 'Marital Status' %>
				<%= f.select :marital_status, options_for_select(@statuses, @staff.marital_status) %>
			</p>
			<p class="formline"><%= f.label :spouse, 'Spouse Name' %><%= f.text_field :spouse %></p>
			<p class="formline"><%= f.label :first_child, 'Name of First Child' %><%= f.text_field :first_child %></p>
			<p class="formline"><%= f.label :phone %><%= f.text_field :phone %></p>
			<p class="formline"><%= f.label :email %><%= f.email_field :email %></p>
			<p class="formline">
				<%= f.label :designation %>
				<%= f.select :designation, options_for_select(@designations, @staff.designation) %>
			</p>
			<p class="formline">
				<%= f.label :department %>
				<%= f.select :department, options_for_select(@departments, @staff.department) %>
			</p>
			<p class="formline"><%= f.label :staff_from, 'Date of Employment' %><%= f.date_field :staff_from, value: @staff.staff_from %></p>
			<p class="formline"><%= f.label :prev_employer, 'Previous Employer' %><%= f.text_field :prev_employer %></p>
			<p class="formline"><%= f.label :post_held, 'Post Held' %><%= f.text_field :post_held %></p>
			<p class="formline"><%= f.label :duty_years, 'Years of Duty' %><%= f.text_field :duty_years %></p>
			<p class="formline"><%= f.label :state %><%= f.text_field :state %></p>
			<p class="formline"><%= f.label :nationality %><%= f.text_field :nationality %></p>
			<p class="formline"><%= f.label :town, 'Local Government Area' %><%= f.text_field :town %></p>
			<p class="formline"><%= f.label :family_address, 'Family Address' %><%= f.text_field :family_address %></p>
			<p class="formline"><%= f.label :permanent_address, 'Permanet Address' %><%= f.text_field :permanent_address %></p>
			<p class="formline"><%= f.label :residence, 'Residential Address' %><%= f.text_field :residence %></p>
			<p class="formline"><%= f.label :kin, 'Next of Kin' %><%= f.text_field :kin %></p>
			<p class="formline"><%= f.label :kin_phone, "Next of Kin's Phone" %><%= f.text_field :kin_phone %></p>
			<p class="formline"><%= f.label :kin_address, "Next of Kin's Address" %><%= f.text_field :kin_address %></p>
			<p class="formline"><%= f.label :annual_salary, 'Annual Salary' %><%= f.text_field :annual_salary %></p>
			<p class="formline"><button class="btn-std">Update staff</button></p>
		<% end %>
	</div>
</section>