<section class="row-two">
	<h2>Staffs</h2>
	<% @staffs.all.map do |staff| %>
	<div class="topmag10">
		<% if staff.avatar.eql? nil %>
		<%= image_tag "vader.jpg", class: 'thumbnail' %>
		<% else %>
		<img src="/uploads/<%= staff.avatar %>" alt="<%= staff.surname %>" class="thumbnail">
		<% end %>
		<h3><%= link_to "#{staff.surname} #{staff.othernames.split(' ')[0]}", staff_path(staff.id) %></a></h3>
		<span><%= staff.designation %></span>
	</div>
	<% end %>
</section>