<% if @staff.avatar.eql? nil %>
<%= image_tag 'vader.jpg',alt: 'profile',class: 'staffImage' %>
<% else %>
<img src="<%= @staff.avatar %>" class="staffImage" alt="profile">
<% end %>
<section class="staffData">
	<div class="topbar">
		<% if current_user.role.eql? 'administrator' %>
		<div class="fl">
			<span><%= link_to 'Edit', edit_staff_path %></span>
			<span><%= link_to 'Delete', @staff, method: 'delete', 'data-confirm' => 'Are you sure?' %></span>
		</div>
		<% end %>
		<a href="javascript:print()">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 32 32">
			<g id="icomoon-ignore"></g>
			<path d="M8 2h16v4h-16zM30 8h-28c-1.1 0-2 0.9-2 2v10c0 1.1 0.9 2 2 2h6v8h16v-8h6c1.1 0 2-0.9 2-2v-10c0-1.1-0.9-2-2-2zM22 28h-12v-10h12v10zM30.45 11c0 0.801-0.649 1.45-1.45 1.45s-1.45-0.649-1.45-1.45 0.649-1.45 1.45-1.45c0.801 0 1.45 0.649 1.45 1.45z" fill="#333333"></path>
			</svg>
		</a>
	</div>
	<div class="entry">
		<em>staff since <%= @staff.staff_from %></em>
		<p><strong>Title:</strong><span><%= "#{@staff.title}".capitalize %></span></p>
		<p><strong>Surname:</strong><span><%= "#{@staff.surname}".capitalize %></span></p>
		<p><strong>Other names:</strong><span><%= @staff.othernames %></span></p>
		<p><strong>Mother's maiden name:</strong><span><%= @staff.maiden_name %></span></p>
		<p><strong>Gender:</strong><span><%= @staff.gender %></span></p>
		<p><strong>Date of birth:</strong><span><%= @staff.date_of_birth %></span></p>
		<p><strong>marital status:</strong><span><%= @staff.marital_status %></span></p>
		<p><strong>Spouse name:</strong><span><%= @staff.spouse %></span></p>
		<p><strong>Name of first child:</strong><span><%= @staff.first_child %></span></p>
		<p><strong>Phone:</strong><span><%= @staff.phone %></span></p>
		<p><strong>Email:</strong><span><%= @staff.email %></span></p>
		<p><strong>Department:</strong><span><%= "#{@staff.department}".capitalize %></span></p>
		<p><strong>Designation:</strong><span><%= "#{@staff.designation}".capitalize %></span></p>
		<p><strong>Previous employer:</strong><span><%= @staff.prev_employer %></span></p>
		<p><strong>Post held:</strong><span><%= @staff.post_held %></span></p>
		<p><strong>Years of duty:</strong><span><%= @staff.duty_years %></span></p>
		<p><strong>State of origin:</strong><span><%= @staff.state %></span></p>
		<p><strong>Nationality:</strong><span><%= @staff.nationality %></span></p>
		<p><strong>City:</strong><span><%= @staff.city %></span></p>
		<p><strong>Local government area:</strong><span><%= @staff.town %></span></p>
		<p><strong>Family house address:</strong><span><%= @staff.family_address %></span></p>
		<p><strong>Permanent Home address:</strong><span><%= @staff.permanent_address %></span></p>
		<p><strong>Residential address:</strong><span><%= @staff.residence %></span></p>
		<p><strong>Next of kin:</strong><span><%= @staff.kin %></span></p>
		<p><strong>Phone of Next of Kin:</strong><span><%= @staff.kin_phone %></span></p>
		<p><strong>Address of Next of kin:</strong><span><%= @staff.kin_address %></span></p>
	</div>
</section>