<section class="row-doubles">
	<div>
		<div class="title">Add Department</div>
		<div class="content pad10">
			<%= form_tag do %>
			<p>
				<%= label_tag :department, 'Department Name' %>
				<%= text_field_tag 'department' %>
			</p>
			<p>
				<%= label_tag :parent %>
				<% department_array = @departments.all.map { |department| [department.name, department.id + 1] } %>
				<%= select_tag :parent, options_for_select(department_array) %>
			</p>
			<%= submit_tag 'Add Department', class: 'btn-std' %>
			<% end %>
		</div>
	</div>
	<div>stuff</div>
</section>