<section class="row-doubles">
	<h2>Preferences</h2>
	<%= content_tag :p, notice, class: 'notifier', style: 'width:80%' %>
	<%= form_for @preference do |f| %>
		<div class="form-row">
			<div><%= f.label :company, 'Company Name' %></div>
			<div><%= f.text_field :company, value: "#{@preferences.company}", placeholder: 'Microsoft'  %></div>
		</div>
		<div class="form-row">
			<div><%= f.label :website, 'Website Frontend URL' %></div>
			<div><%= url_field :preference, :website, placeholder: 'http://example.com', value: "#{@preferences.website}" %></div>
		</div>
		<div class="form-row">
			<div><label for="theme">Theme</label></div>
			<div>
				<% @colors.each do |color| %>
				<%= f.radio_button :theme, "#{color}", class: 'themes' %>
				<%= f.label color_label(color), "<span class='showbox' style='background-color:rgb(#{color})'></span>".html_safe %>
				<% end %>
			</div>
		</div>
		<div class="header-display" style="background-image: url(<%= @preferences.header == nil ? image_path('abstract.jpg') : "/uploads/#{@preferences.header}" %>)"></div>
		<div class="form-row">
			<div><label for="header">Header Image</label></div>
			<div>
				<%= f.file_field :header %>
			</div>
		</div>
		<div class="form-row">
			<div><%= f.submit 'Save Changes', class: 'btn-std' %></div>
			<div>&nbsp;</div>
		</div>
	<% end %>
</section>