<% content_for :title do %>
<title>Log In - Vitabiotics</title>
<% end %>
<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}", class: 'login-alert' %>
<% end %>
<div class="login-form">
	<div class="top-colors"><div></div><div></div><div></div><div></div></div>
	<div class="login-header"></div>
	<%= form_tag sessions_path, class: 'clearfix' do %>
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email], placeholder: 'Email', type: 'email' %>
		<%= label_tag :password %>
		<%= password_field_tag :password, params[:password], placeholder: '******' %>
		<button class="fr" type="submit">Log In</button>
		<span><%= link_to 'Forgot Password?', forgot_path %></span>
	<% end %>
</div>
<!--<div class="login-links"><a href="< %= root_url %>">Back to website</a></div>-->