<section class="row-one">
	<%= content_tag :p, alert, class: 'notifier', style: 'width: 95%' %>
	<% @users.all.map do |user| %>
	<div class="topmag10 clearfix content">
		<% if current_user.role.eql? 'administrator' %>
		<div class="fr user-setting">
			<span>Edit</span><span><%= link_to "Delete", user, method: 'delete', 'data-confirm' => "Are you sure?" %></span>
		</div>
		<% end %>
		<h3><%= user.email %></h3>
		<p><%= user.name %> <em>(<%= user.role %>)</em></p>
		<div class="ghost">
			<%= form_for user do |f| %>
				<p><%= f.email_field :email %></p>
				<p><%= f.select :role, options_for_select([['Administrator','administrator'],['Manager','manager']], user.role) %></p>
				<p><%= f.submit 'Update', class: 'btn-std' %></p>
			<% end %>
		</div>
	</div>
	<% end %>
</section>