<section class="staffData">
	<div class="topbar">
		<% if current_user.role.eql? 'administrator' %>
		<div class="fl">
			<span><%= link_to 'Edit', edit_relief_path %></span>
			<span><%= link_to 'Delete', @relief, method: 'delete', 'data-confirm' => 'Are you sure?' %></span>
		</div>
		<% end %>
	</div>
	<div class="entry">
		<em>Relief Record for <%= "#{Staff.find(@relief.staff_id).surname} #{Staff.find(@relief.staff_id).othernames}" %></em>
		<p><strong>Category:</strong><span><%= "#{@relief.category.capitalize}" %></span></p>
		<p><strong>Time In:</strong><span><%= "#{@relief.time_in.strftime("%r")}" %></span></p>
		<p><strong>Time Out:</strong><span><%= "#{@relief.time_out.strftime("%r")}" %></span></p>
		<p><strong>Date:</strong><span><%= "#{@relief.date.strftime('%e %B, %Y')}" %></span></p>
		<p><strong>Reason:</strong><span><%= @relief.reason %></span><br><br><br></p>
	</div>
</section>